<h1>Furnitures</h1>

<table cellspacing="5px;">
	<thead>
		<tr>
			<th>Name</th>
			<th>price</th>
			<th>Description</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @furnitures.each do |furniture| %>
		<tr>
			<td><%= furniture.name %></td>
			<td><%= furniture.price %></td>
			<td><%= furniture.descriptioin %></td>
			<td><%= link_to "show", furniture_path(furniture) %> 
				<%= link_to "edit" , edit_furniture_path(furniture) %>
				<%= link_to "delete", furniture_path(furniture), method: :delete %>
				</td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "new Furniture", new_furniture_path %><hr>
<%= link_to "Articles", articles_url %>